/*

General Layout

*/
#rt-admin-content{margin:20px 280px 0 220px;}
#rt-admin-tools{width:240px;position:fixed;right:10px;top:20px;}
/*

Form Layout

*/
#rt-admin-content ul.error_list{list-style:none;margin:0;padding:0;border-color:red;border-width:1px;color:rgb(10,10,80); padding:.8em;border:2px solid #ddd; background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
#rt-admin-content form th, #rt-admin-content form td, #rt-admin-content tbody th {border-bottom-width:1px;}
#rt-admin-content form body th{width:150px;vertical-align:top;padding-top:10px}
ul.rt-markdown-tools{list-style:none;margin:-2em 0 0 0;padding:0;text-align:right;}
ul.rt-markdown-tools li{display:inline;}
ul.checkbox_list{list-style:none;padding:0;margin:0;}
.rt-admin-toggle-panel-content{display:none;}
.rt-admin-toggle-panel, .rt-admin-toggle-panel-plain {margin-bottom:10px;border-bottom:3px solid #CCC;}
.rt-admin-toggle-panel h2, .rt-admin-toggle-panel-plain h2{background:#efefef;border:1px solid #CCC;font-size:1.2em;font-weight:bold;padding:5px;}
.rt-admin-toggle-panel h2 {cursor:pointer;}
ul.checkbox_list{margin-bottom:0;}
ul.ui-sortable label{cursor:move;}
div.help {padding-top:5px; font-style:italic;color:#555}
.checkbox div.help, ul.checkbox_list label {display:inline;position:relative;top:3px;}
.advanced-panel {display:none;background:#efefef;}
#rtAdminForm {overflow-x:auto;overflow-y:hidden;}
/*

List Layout

*/
ul.rt-admin-tools{list-style:none;margin:0;padding:0;}
ul.rt-admin-tools li{display:inline;}
tr.rt-admin-tree  .rt-admin-title, span.rt-admin-tree {background-image: url(../images/bg-admin-tree-steps.png);background-repeat:no-repeat;background-position:-125px 50%;}
tr.rt-admin-tree-level-0 td, tr.rt-admin-tree-level-0 .rt-admin-title {background:url(../images/bg-admin-alt-border.png) repeat-x 0 100%;}
tr.rt-admin-tree-level-0 .rt-admin-title, span.rt-admin-tree-level-0 {font-weight:bold;}
tr.rt-admin-tree-level-1 .rt-admin-title, span.rt-admin-tree-level-1 {padding-left:28px;background-position:-98px 50%;}
tr.rt-admin-tree-level-2 .rt-admin-title, span.rt-admin-tree-level-2 {padding-left:53px;background-position:-73px 50%;}
tr.rt-admin-tree-level-3 .rt-admin-title, span.rt-admin-tree-level-3 {padding-left:78px;background-position:-48px 50%;}
tr.rt-admin-tree-level-4 .rt-admin-title, span.rt-admin-tree-level-4 {padding-left:103px;background-position:-23px 50%;}
tr.rt-admin-tree-level-5 .rt-admin-title, span.rt-admin-tree-level-5 {padding-left:128px;background-position:2px 50%;}
.compressed td, .compressed th {vertical-align: middle;}
tr.batch-row td {background:#FFFFCF;}
/*

Icons and Tools

*/
.rt-admin-tools{white-space:nowrap;}
.rt-admin-tools .ui-button span {padding-top:2px;padding-bottom:2px;font-weight:normal;}
.rt-admin-tools .ui-button span.ui-icon {height:14px;}
.rt-admin-icon {}
.rt-admin-icon-collapsed {}
.rt-admin-icon-delete {}
#rtPrimaryTools {padding:0 0 1.2em; border-bottom:2px dotted #efefef;}
#rtPrimaryTools li {list-style:none;display:inline;padding:0;}
#rtPrimaryTools button {margin-left:0;margin-top:10px;}

.ui-button {-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);border: 1px solid #999;}
td .ui-button {-moz-box-shadow:none;-webkit-box-shadow:none;border: 1px solid #999;}
.positive .ui-state-default { border: 1px solid #45930b; background: #4ca20b url(../vendor/jquery/css/ui/images/ui-bg_highlight-soft_60_4ca20b_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; }
.positive .ui-state-hover { border: 1px solid #3F7F0F; background: #4eb305 url(../vendor/jquery/css/ui/images/ui-bg_highlight-soft_50_4eb305_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; }
.positive .ui-icon { width: 16px; height: 16px; background-image: url(../vendor/jquery/css/ui/images/ui-icons_72b42d_256x240.png); }
.positive .ui-widget-content .ui-icon {background-image: url(../vendor/jquery/css/ui/images/ui-icons_72b42d_256x240.png); }
.positive .ui-widget-header .ui-icon {background-image: url(../vendor/jquery/css/ui/images/ui-icons_ffffff_256x240.png); }
.positive .ui-state-default .ui-icon { background-image: url(../vendor/jquery/css/ui/images/ui-icons_ffffff_256x240.png); }
.positive .ui-state-hover .ui-icon, .positive .ui-state-focus .ui-icon {background-image: url(../vendor/jquery/css/ui/images/ui-icons_ffffff_256x240.png); }
.positive .ui-state-active .ui-icon {background-image: url(../vendor/jquery/css/ui/images/ui-icons_ffffff_256x240.png); }
.positive .ui-state-highlight .ui-icon {background-image: url(../vendor/jquery/css/ui/images/ui-icons_4eb305_256x240.png); }
.positive .ui-state-error .ui-icon, .positive .ui-state-error-text .ui-icon {background-image: url(../vendor/jquery/css/ui/images/ui-icons_cd0a0a_256x240.png); }
/*

Misc. Tags

*/
body{background:url(../images/bg-admin-tools.png) no-repeat 100% 0 fixed;}
a{color:#3366CC;}
a, a:hover{outline:none;-moz-outline-style:none;}
h1{color:#555;background:#DFDFDF url(../images/bg-admin-h1-gradient.png) repeat-x 0 100%;border:#C8C8C8 1px solid !important;margin-top:10px;padding:10px;font-size:1.8em;}
h2,h3,h4{color:#555;font-size:1.4em;padding:10px;border-top:#C8C8C8 1px solid !important;}
#rt-admin-tools h1{font-size:1.1em;}
h1 a, h2 a{text-decoration:none;}
input{outline:none;}
input[type="file"] {border:0;}
option{border-width:0;}
.rt-admin-toggle-panel h2:hover, input:focus{border-color:#555 !important;}
input[type=text], input[type=password]{-moz-border-radius:5px;-webkit-border-radius:5px;}
td input[type=text], th input[type=text], input[type=password]{width:95%}
.compressed td input[type=text], .compressed th input[type=text] {width:45px;}
.compressed td {padding-right:3px;}
table, thead th, td{border:1px solid #ccc;}
tfoot th{border-right:1px solid #ccc;}
thead th, td{border-top:0;border-left:0;}
form thead th, form td{vertical-align:top;}
table{border-bottom:0;border-right:0;}
thead th, tbody th, tfoot th {background:#efefef;}
tbody th {vertical-align: top;padding-top:10px;width:150px;border-bottom:1px solid #CCC;}
textarea{font-family:'andale mono', 'lucida console', monospace;font-size:1.1em;}
label{}
p img.right, p img.left{margin-top:0.5em;}
iframe{margin-bottom:1.5em;}
.deleted{text-decoration:line-through;}
.markItUpContainer textarea{width:530px;}
/*

Nice Buttons

*/
button.button, a.button, input.button{border:solid 1px rgb(153, 153, 153);display:inline-block;margin:0.7em 0.5em 0.7em 0;padding:5px 10px 5px 7px;background:#222 url(../images/button-overlay.png) repeat-x;font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;font-size:100%;line-height:130%;text-decoration:none;font-weight:bold;color:#fff;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);text-shadow:0 -1px 1px rgba(0,0,0,0.25);border-bottom:1px solid rgba(0,0,0,0.25);position:relative;}
a.button:hover{color:#fff;}
.small.button{font-size:80%;}
.medium.button{font-size:110%;}
.large.button{font-size:130%;padding:8px 14px 9px;}
.positive.button{background-color:#28CFCD;}
.warning.button{background-color:#D62006;}
.alternate.button{background-color:#a9014b;}
.cancel.button{background-color:#ff5c00;}
.shout.button{background-color:#ffb515;}
button{width:auto;overflow:visible;padding:4px 10px 3px 7px;}
button[type]{padding:4px 10px 4px 7px;line-height:17px;}
*:first-child+html button[type]{padding:4px 10px 3px 7px;}
button img, a.button img{margin:0 3px -3px 0 !important;padding:0;border:none;width:16px;height:16px;float:none;}
/*

Simple Feedback

*/
span.error, span.success, span.loading{font-weight:bold;background-color:transparent;background-position:0 50%;background-repeat:no-repeat;border:none;padding:0 0 0 20px;}
span.loading{background-image:url(../images/loader.gif);}
span.error{color:red;font-weight: normal;}
span.success{color:green;}
/*

Attachment Panel

*/
.rt-core-upload{padding:5px;}
.rt-core-upload p, .rt-core-upload ul{border:none;margin:0;padding:0;}
#rt-admin-tools fieldset p{}
.rt-core-upload ul{position:relative;height:200px;overflow:auto;border-top:1px solid #CCC;border-bottom:1px solid #CCC;padding:5px 0; margin-bottom:5px;}
.rt-core-upload-panel{list-style:none;}
.rt-core-upload-panel li{margin-bottom:5px;border-width:1px!important;}
.rt-core-upload-panel form{display:none;}
.rt-core-upload-item{height:42px;position:relative;background:#efefef;vertical-align:middle;border:1px solid #ddd;}
.rt-core-upload-item .rt-core-upload-thumb{background:#fff;border:1px solid rgb(190,190,190);position:absolute;left:5px;top:5px;width:30px;height:30px;}
.rt-core-upload-item .rt-core-upload-thumb div{position:absolute;left:2px;top:2px;width:26px;height:26px;overflow:hidden;text-align:center;}
.rt-core-upload-item .rt-core-upload-thumb img{margin:0 auto;}
.rt-core-upload-item .rt-core-upload-metadata{font-size:0.8em;position:absolute;left:40px;top:5px;height:32px;width:165px;line-height:16px;overflow:hidden;}
.rt-core-upload-item .rt-core-upload-metadata span{font-weight:normal;}
.rt-core-upload-item.other img{position:relative;top:5px;}
.rt-core-upload-item .delete, .rt-core-upload-item .insert{text-align:center;width:20px;height:19px;line-height:19px;position:absolute;right:0;z-index:1000;cursor:pointer;color:#333;background:rgb(170,170,170);}
.rt-core-upload-item .delete{top:0;}
.rt-core-upload-item .insert{bottom:0;background-color:rgb(170,170,170);background-image:url(../images/link.png);background-position:50% 50%;background-repeat:no-repeat;}
/*

Modal Panels

*/
.rt-modal-panel{display:none;}
.rt-modal-panel{border:2px solid #666;border:5px solid rgba(0,0,0,0.5);width:400px;background-color:#fff;}
.rt-modal-panel div.inner{padding:10px;}
.rt-modal-panel div.inner-panel{border-top:1px solid #ddd;padding-top:10px;}
.rt-modal-panel h2{margin-bottom:0px;color:#fff;background-color:#28CFCD;padding:5px 10px;}
/*

Tree Admin.

*/
#sf_admin_container .nested_set_manager_holder ul li a { padding: 0; background : none;}
#sf_admin_container .waiting {margin: 4px 0;padding: 4px 4px 4px 30px;background: url(../images/loader.gif) no-repeat 10px 4px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;background-color: #ffc;}
#jstree-contextmenu .edit  ins {background-position : 0 0;}
/*

Pager

*/
.rt-pager {text-align:center;margin-bottom:20px;}
.rt-pager ul {list-style-type:none;margin:0;padding:0;}
.rt-pager ul li, .rt-pager ul li ul {display:inline;}
.rt-pager ul .pager-previous-page, .rt-pager ul .pager-first-page {float:left;}
.rt-pager ul .pager-next-page, .rt-pager ul .pager-last-page {float:right;text-align:right;}
.rt-pager a { margin:0 3px;text-decoration:none;}
.rt-pager .pager-first-page a {margin-left:0;}
.rt-pager .pager-last-page a {margin-right:0;}
.rt-pager .here a {color:#CCC;text-decoration:none;cursor:default;}
/*

Graphs

*/
.rt-graph-holder {margin-bottom:10px;}
/*

IE Bugfix

*/
#rtStockTable input[type=checkbox] {position:static;}