/*

Admin Toolbar

*/
div#rt-admin-toolbar * { margin:0; padding:0; width: auto; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
div#rt-admin-toolbar h1, div#rt-admin-toolbar h2, div#rt-admin-toolbar a, div#rt-admin-toolbar ul, div#rt-admin-toolbar li, div#rt-admin-toolbar form, div#rt-admin-toolbar input {margin:0;padding:0;border:0;background:none;color:#FFF;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;text-shadow:0 -1px 1px rgba(0,0,2,0.9);font-size:12px;text-decoration:none;list-style:none;}
div#rt-admin-toolbar h1, div#rt-admin-toolbar h2 {font-weight:bold;font-style:normal;}
div#rt-admin-toolbar h1 {height:38px;background:url(../images/bg-admin-h1.png) repeat-x;}
div#rt-admin-toolbar h1 span {background:url(../images/logos/logo_reditype_dark_font_only.png) no-repeat 0% 50%;text-indent:-10000px;width:95px;height:38px;position: absolute;top:0;left:9px;}
div#rt-admin-toolbar h1 a.rt-admin-toolbar-help {background:url(../images/icon-admin-toolbar-help.png) no-repeat 0px 15px;}
div#rt-admin-toolbar h1 a.rt-admin-toolbar-clear-cache {background:url(../images/icon-admin-toolbar-clear-cache.png) no-repeat 0px 15px;}
div#rt-admin-toolbar h1 a {height:38px;width:20px;text-indent:-10000px;float:right;}
div#rt-admin-toolbar h1 a.rt-admin-toolbar-homepage {background:url(../images/icon-admin-toolbar-homepage.png) no-repeat 0px 15px;}
div#rt-admin-toolbar h1 a.rt-admin-toolbar-signout {background:url(../images/icon-admin-toolbar-signout.png) no-repeat 0px 15px;}
div#rt-admin-toolbar h1 a:hover {background-position: 0px -26px;}
div#rt-admin-toolbar{text-align:left;z-index:8000;position:fixed;top:0;left:0;width:30px;height:100%;background:url(../images/bg-admin.png) 100% 0 repeat-y;}
div#rt-admin-toolbar.show, div#rt-admin-container div#rt-admin-toolbar{width:225px;}
div#rt-admin-toolbar h1, div#rt-admin-toolbar ul, div#rt-admin-toolbar-search{padding:0 10px;border:0!important;margin-bottom:10px;}
div#rt-admin-toolbar h2 {border:0!important;margin:0 10px 10px;padding:5px 0;  border-bottom:1px solid #222 !important; }
div#rt-admin-toolbar ul{padding-left:20px;}
div#rt-admin-toolbar li{background:none;}
div#rt-admin-toolbar-search form{padding-left:25px;height:22px;background:url(../images/bg-admin-search.png);}
div#rt-admin-toolbar-search input, div#rt-admin-toolbar-search input:focus {font-style:italic;border-width:0 !important;width:145px;height:22px;font-weight:normal;outline:none;background:transparent;}
div#rt-admin-toolbar-content{width:5px;height:100%;}
div#rt-admin-toolbar.show div#rt-admin-toolbar-content, div#rt-admin-container div#rt-admin-toolbar-content {width:200px;}
div#rt-admin-toolbar-menu, div#rt-admin-container div#rt-admin-toolbar-handle{display:none;}
div#rt-admin-container div#rt-admin-toolbar-menu{display:block;}
div#rt-admin-toolbar-handle{position:absolute;right:0;top:5px;width:25px;height:25px;text-indent:-2000px;cursor:pointer;background-image:url(../images/bg-tab.png);}
div#rt-admin-toolbar.show div#rt-admin-toolbar-handle{background-position:0 -50px;}
div#rt-admin-toolbar-handle:hover{background-position:0 -25px;}
div#rt-admin-toolbar.show div#rt-admin-toolbar-handle:hover{background-position:0 -75px;}
.rt-admin-edit-tools-panel-left .rt-admin-edit-tools-trigger {left:0!important;}
.highlight {background:#FFFFCF;min-height:20px;}
.rt-admin-edit-tools-panel {padding-bottom:1px;zoom:1;}