/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
body {
/*	background-color:#3875D7;*/
}
.markItUp  {
  border:1px solid #ccc;
}

.markItUp .markItUp {
    border:0;
    }
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:100%;
	margin:5px 0 5px 0;
}
.markItUpContainer  {
	width:100%;
	font:11px Verdana, Arial, Helvetica, sans-serif;
	background:#efefef;
}
.markItUpEditor {
	
	padding:5px;
	margin:0;
	width:100%;
	height:320px;
	clear:both; display:block;
	line-height:18px;
	overflow:auto;
	border:1px solid #ccc;
  border-left:0;
  border-right:0;
}

.markItUpContainer textarea{ width:94%; border: 0; padding:3%; display:inline-block; outline:none; font-size:1.2em; }

.smallEditor .markItUpEditor {
    height:100px;
}

.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	width:99.9%;
	height:350px;
}
.markItUpHeader {
	padding:10px 0px 0px 20px;
	height:25px;
	background:#efefef;
}

/*.markItUpContainer .markItUpContainer .markItUpHeader {*/
    /*display:none;*/
    /*}*/

/*.markItUpContainer .markItUpContainer .markItUpHeader {*/
    /*display:none;*/
    /*}*/

.markItUpFooter {
	height:10px;
	background:#efefef;
	padding-bottom:0px;
}
.markItUpResizeHandle {
	margin:4px auto 5px auto;
	overflow:hidden;
	width:100px; height:5px;
	position:relative;
  background:#ddd;
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;
	background:#FFF;
	border:1px solid #000;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #000;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#FFF url(images/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px;
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3875D7;
}
/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
/*.markItUpHeader .markItUpButton1 a {
	background-image:url(../images/buttons/text_heading_1.png);
}*/
.markItUpHeader .markItUpButton1 a {
	background-image:url(../images/buttons/text_heading_2.png);
}
.markItUpHeader .markItUpButton2 a {
	background-image:url(../images/buttons/text_heading_3.png);
}
.markItUpHeader .markItUpButton3 a {
	background-image:url(../images/buttons/text_heading_4.png);
}
.markItUpHeader .markItUpButton4 a {
	background-image:url(../images/buttons/text_heading_5.png);
}
.markItUpHeader .markItUpButton5 a {
	background-image:url(../images/buttons/text_heading_6.png);
}
.markItUpHeader .markItUpButton6 a {
	background-image:url(../images/buttons/text_bold.png);
}

.markItUpHeader .markItUpButton7 a {
	background-image:url(../images/buttons/text_italic.png);
}
.markItUpHeader .markItUpButton8 a {
	background-image:url(../images/buttons/text_list_bullets.png);
}
.markItUpHeader .markItUpButton9 a {
	background-image:url(../images/buttons/text_list_numbers.png);
}

.markItUpHeader .markItUpButton10 a {
	background-image:url(../images/buttons/link.png);
}

.markItUpHeader .markItUpButton11 a {
	background-image:url(../images/buttons/application_view_gallery.png);
}
.markItUpHeader .markItUpButton12 a {
	background-image:url(../images/buttons/application_view_list.png);
}
.markItUpHeader .markItUpButton13 a {
	background-image:url(../images/buttons/application_get.png);
}
.markItUpHeader .markItUpButton14 a {
	background-image:url(../images/buttons/application_split.png);
}
.markItUpHeader .markItUpButton15 a {
	background-image:url(../images/buttons/application_shout1.png);
}
.markItUpHeader .markItUpButton16 a {
	background-image:url(../images/buttons/application_shout2.png);
}
.markItUp .preview a {
    background-image:url(../images/tick.png);
    }



