/* 
    Document   : gallery.css
    Created on : 22-Sep-2010, 15:23:13
    Author     : pierswarmers
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

