/* 

Structure

*/
#rt-admin-header {display:none;}
#rt-page{background:url(../images/border.png) repeat-y 630px 0;padding:20px 0;}
#rt-header, #rt-footer { border-color: #CCC; border-style:solid; }
#rt-footer{text-align:center;border-top-width:5px;padding:20px;}
#rt-footer a {margin-left:5px;vertical-align: middle;display:inline-block;text-indent:-1000px;text-align:left;overflow:hidden;height:31px;width:100px;background:url(../images/logos/logo_reditype_dark.png) 50% 50% no-repeat;}
#rt-header{background:#999;border-bottom-width:5px;line-height:70px;vertical-align: middle;}
#rt-component-nav{list-style:none;padding:0;margin:0;text-align:right;}
#rt-component-nav a{text-decoration:none;color:#FFF;padding:8px;-moz-border-radius:5px;-webkit-border-radius:5px;background:url(../images/bg-trans-0-0-0-0_5.png);}
#rt-component-nav li{display:inline;padding:0;margin:0 0 0 5px;}
#rt-side .rt-search-form input{width:150px}
#rt-side ul, #rt-side p {margin-bottom:1.5em;padding-bottom:1.5em;border-bottom:2px solid #efefef;}
#rt-tagline{float:left;line-height:70px;font-weight:bold;color:#FFF;text-shadow:1px 1px 1px #555;font-size:2em;}
.rt-inline-panel {margin-bottom:1.5em;}
.rt-version-comparison th {width:40%;}
.rt-version-comparison th.name { width:10%;}
/*

Tools

*/
ul.rt-tools{list-style:none;margin-left:0;margin-right:0;padding-left:0;}
ul.rt-tools li{}
dl.rt-meta-data{border-top:#CCC 1px solid;padding:1.5em 0 0;margin:0 0 1.5em;}
dl.rt-meta-data dt, dl.rt-meta-data dd{display:inline;padding:0;margin:0 0.5em 0 0;}
dl.rt-meta-data dd div {display:inline; }
ul.rt-markdown-tools {list-style:none;margin:-2em 0 0 0;padding:0;text-align:right;}
ul.rt-markdown-tools li {display:inline;}
.rt-form-row.standard label{display:block;}
.rt-form-row input[type=checkbox]{position:relative;top:0;}
.rt-form-row textarea, .rt-form-row .title{width:530px}
.rt-admin-edit-tools-trigger {display:none;}
/*

Navigation

*/
.rt-site-page-navigation ul {border-bottom:0!important;margin-bottom:0!important;padding-bottom:0!important;}
.rt-site-page-navigation li.in-path a {color:#3366CC;}
.rt-site-page-navigation li.here a {font-weight:bold;}
/*

Nice buttons

*/
button.button, a.button, input.button{border:solid 1px rgb(153, 153, 153);display:inline-block;margin: 0.7em 0.5em 0.7em 0;padding:5px 10px 5px 7px;background:#222 url(../images/button-overlay.png) repeat-x;font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;font-size:100%;line-height:130%;text-decoration:none;font-weight:bold;color:#fff;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);text-shadow:0 -1px 1px rgba(0,0,0,0.25);border-bottom:1px solid rgba(0,0,0,0.25);position:relative;}
a.button:hover{color:#fff;}
.small.button{font-size:80%;}
.medium.button{font-size:110%;}
.large.button{font-size:130%;padding:8px 14px 9px;}
.positive.button{background-color:#28CFCD;}
.warning.button{background-color:#D62006;}
.alternate.button{background-color:#a9014b;}
.cancel.button{background-color:#ff5c00;}
.shout.button{background-color:#ffb515;}
button { width:auto; overflow:visible; padding:4px 10px 3px 7px; /* IE6 */ }
button[type] { padding:4px 10px 4px 7px; /* Firefox */ line-height:17px; /* Safari */ }
*:first-child+html button[type] { padding:4px 10px 3px 7px; /* IE7 */ }
button img, a.button img { margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px; float:none; }
/*

Simple feedback

*/
span.error, span.success, span.loading { font-weight:bold; background-color:transparent; background-position: 0 50%; background-repeat: no-repeat; border:none; padding:0 0 0 20px; }
span.loading { background-image: url(../images/loader.gif); }
span.error { background-image: url(../images/cross.png); color: red; }
span.success { background-image: url(../images/tick.png); color: green; }
/*

404 page

*/
.rt-default-404 dt, .rt-default-404 dd { margin:0; padding-bottom:1em; }
/*

Errors

*/
.rt-form-row .error { margin:0;padding:0;background:none;border:0; }
ul.error_list, .error_list li { margin:0;padding:0;display:inline;list-style: none;font-weight:normal; }
/*

General typography enhancements

*/
body, * { font-family:Arial,sans-serif; }
h1 { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 2em;padding-bottom:.5em; }
h1,h2 { border-bottom:1px solid #CCC;font-weight:bold; }
h2 { font-size: 1.6em;color:#666; }
h3 { font-size: 1.3em;font-weight:bold; }
h1, legend { color:#333; }
a, .rt-site-page-navigation li.here li a{color:#3366CC;font-weight:normal;}
a, a:hover {outline:none;-moz-outline-style:none;}
h1 a, h2 a { text-decoration:none; }
table, thead th, td {border:1px solid #ccc;}
thead th, td {border-top:0; border-left:0;vertical-align: top;}
table{border-bottom:0; border-right:0;}
thead th {background:#ddd;color:#fff;}
form p {margin-bottom:0.5em;}
textarea{font-family:'andale mono', 'lucida console', monospace;font-size: 1.1em;}
p img.right, p img.left {margin-top:0.5em;}
iframe {margin-bottom:1.5em;}
.deleted{text-decoration:line-through;}
.rt-form-row {margin-bottom:0.5em;}
.rt-form-collapse legend{cursor:pointer;}


/* Blog */

ul.rt-blog-page-index-list, ul.rt-blog-page-index-list li { padding:0; margin-right:0; }
ul.rt-blog-page-index-list li {list-style: none;}
ul.rt-blog-page-index-list li {list-style: none;}

