/* 

Layout

*/
#rt-admin-header {display:none;}
#rt-page{background:url(../images/border.png) repeat-y 630px 0;padding:20px 0;}
#rt-header, #rt-footer { border-color: #CCC; border-style:solid; }
#rt-footer{text-align:center;border-top-width:5px;padding:20px;}
#rt-footer a {margin-left:5px;vertical-align: middle;display:inline-block;text-indent:-1000px;text-align:left;overflow:hidden;height:31px;width:100px;background:url(../images/logos/logo_reditype_dark.png) 50% 50% no-repeat;}
#rt-header{background:#999;border-bottom-width:5px;line-height:70px;vertical-align: middle;}
#rt-component-nav{list-style:none;padding:0;margin:0;text-align:right;}
#rt-component-nav a{text-decoration:none;color:#FFF;padding:8px;-moz-border-radius:5px;-webkit-border-radius:5px;background:url(../images/bg-trans-0-0-0-0_5.png);}
#rt-component-nav li{display:inline;padding:0;margin:0 0 0 5px;}
#rt-side .rt-search-form input{width:150px}
#rt-side ul, #rt-side p {margin-bottom:1.5em;padding-bottom:1.5em;border-bottom:2px solid #efefef;}
#rt-tagline{float:left;line-height:70px;font-weight:bold;color:#FFF;text-shadow:1px 1px 1px #555;font-size:2em;}
.rt-inline-panel {margin-bottom:1.5em;}
.rt-version-comparison th {width:40%;}
.rt-version-comparison th.name { width:10%;}
.rt-panel {border-top: #CCC 1px solid;padding-top:1.5em;}
/*

Template

*/
.rt-container:after, .rt-primary-container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.rt-primary-container {position:relative;}
.rt-container {display:block; border-top:1px solid #CCC; margin-bottom:1.5em; padding-top:1.5em;position:relative;}
.rt-admin-edit-tools-trigger {display:none;}
/*

Navigation

*/
.rt-site-page-navigation ul {border-bottom:0!important;margin-bottom:0!important;padding-bottom:0!important;}
.rt-site-page-navigation li.in-path a {color:#3366CC;}
.rt-site-page-navigation li.here a {font-weight:bold;}
.rt-site-page-navigation li.here li a{color:#3366CC;font-weight:normal;}
/*

Nice buttons

*/
button, button.button, a.button, input.button{border:none;display:inline-block;padding:5px 10px;background:#333; font-size:100%;line-height:130%;text-decoration:none;font-weight:bold;color:#fff;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;position:relative;}
/*

Simple feedback

*/
span.error, span.success, span.loading { font-weight:bold; background-color:transparent; background-position: 0 50%; background-repeat: no-repeat; border:none; padding:0 0 0 20px; }
span.loading { background-image: url(../images/loader.gif); }
span.error { background-image: url(../images/cross.png); color: red; }
span.success { background-image: url(../images/tick.png); color: green; }
/*

404 page

*/
.rt-default-404 dt, .rt-default-404 dd { margin:0; padding-bottom:1em; }
/*

Errors

*/
.error { margin:0;padding:0;background:none;border:0; }
ul.error_list, .error_list li { margin:0;padding:0;display:inline;list-style: none;font-weight:normal; }
/*

General typography enhancements

*/
body, * { font-family:Arial,sans-serif; }
h1 { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 2em;padding-bottom:.5em; }
h2 { border-bottom:1px solid #CCC;font-weight:bold; }
h2 { font-size: 1.6em;color:#666; }
h3 { font-size: 1.3em;font-weight:bold; }
h1, legend { color:#333; }
a{color:#3366CC;font-weight:normal;}
a, a:hover {outline:none;-moz-outline-style:none;}
h1 a, h2 a { text-decoration:none; }
table, thead th, td {border:1px solid #ccc;}
thead th, td {border-top:0; border-left:0;vertical-align: top;}
table{border-bottom:0; border-right:0;}
thead th {background:#ddd;color:#fff;}
textarea{font-family:'andale mono', 'lucida console', monospace;font-size: 1.1em;}
p img.right, p img.left {margin-top:0.5em;}
iframe {margin-bottom:1.5em;}
.deleted{text-decoration:line-through;}
/*

Blog

*/
ul.rt-blog-page-index-list, ul.rt-blog-page-index-list li { padding:0; margin-right:0; }
ul.rt-blog-page-index-list li {list-style: none;}
ul.rt-blog-page-index-list li {list-style: none;}
/*

Pager

*/
.rt-pager {text-align:center;}
.rt-pager ul {list-style-type:none;margin:0;padding:0;}
.rt-pager ul li, .rt-pager ul li ul {display:inline;}
.rt-pager ul .pager-previous-page, .rt-pager ul .pager-first-page {float:left;}
.rt-pager ul .pager-next-page, .rt-pager ul .pager-last-page {float:right;text-align:right;}
.rt-pager a { margin:0 3px;text-decoration:none;}
.rt-pager .pager-first-page a {margin-left:0;}
.rt-pager .pager-last-page a {margin-right:0;}
.rt-pager .here a {color:#CCC;text-decoration:none;cursor:default;}