
/* general */
.gn-inline-panel {margin-bottom:1.5em;}

/* structure */
#gn-page{background:url(../images/border.png) repeat-y 630px 0;padding:20px 0;}
#gn-footer{background:#28CFCD;border-top:5px solid #CCC;border-bottom:5px solid #CCC;}
#gn-header{background:#28CFCD;border-bottom:5px solid #CCC;}
#gn-component-nav{list-style:none;padding:1em 0 0;margin:0 0 1.5em 0;text-align:right;}
#gn-component-nav a{text-decoration:none;color:rgb(255,255,255);padding:8px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#1A908F;}
#gn-component-nav li{display:inline;padding:0;margin:0 5px 0 0;}
#gn-component-nav li.right{margin:0 0 0 5px;}
.gn-inner{}
#gn-content{}


#gn-side .gn-search-form label{display:none;}
#gn-side .gn-search-form input{width:150px}
#gn-side ul, #gn-side p {margin-bottom:1.5em;padding-bottom:1.5em;border-bottom:2px solid #efefef;}


#gn-tagline{float:left;line-height:2em;font-weight:bold;color:#FFF;text-shadow:1px 1px 1px #1A908F;font-size:2em;}

/* tools */

ul.gn-tools{list-style:none;margin-left:0;margin-right:0;padding-left:0;}
ul.gn-tools li{}
dl.gn-meta-data{border-top:#CCC 1px solid;padding:1.5em 0 0;margin:0 0 1.5em;}
dl.gn-meta-data dt, dl.gn-meta-data dd{display:inline;padding:0;margin:0 0.5em 0 0;}

ul.gn-markdown-tools {list-style:none;margin:-2em 0 0 0;padding:0;text-align:right;}
ul.gn-markdown-tools li {display:inline;}


.gn-form-row.standard label{display:block;}
.gn-form-row input[type=checkbox]{position:relative;top:0;}
.gn-form-row textarea, .gn-form-row .title{width:530px}

/* buttons */
button.button, a.button, input.button{border:solid 1px rgb(153, 153, 153);display:inline-block;margin: 0.7em 0.5em 0.7em 0;padding:5px 10px 5px 7px;background:#222 url(../images/button-overlay.png) repeat-x;font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;font-size:100%;line-height:130%;text-decoration:none;font-weight:bold;color:#fff;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);text-shadow:0 -1px 1px rgba(0,0,0,0.25);border-bottom:1px solid rgba(0,0,0,0.25);position:relative;}
a.button:hover{color:#fff;}
.small.button{font-size:80%;}
.medium.button{font-size:110%;}
.large.button{font-size:130%;padding:8px 14px 9px;}
.positive.button{background-color:#28CFCD;}
.warning.button{background-color:#D62006;}
.alternate.button{background-color:#a9014b;}
.cancel.button{background-color:#ff5c00;}
.shout.button{background-color:#ffb515;}

button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px;   /* IE6 */
}
button[type] {
  padding:4px 10px 4px 7px;   /* Firefox */
  line-height:17px;           /* Safari */
}
*:first-child+html button[type] {
  padding:4px 10px 3px 7px;   /* IE7 */
}
button img, a.button img{
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
  float:none;
}

/* errors */
.gn-form-row .error {margin:0;padding:0;background:none;border:0;}
ul.error_list, .error_list li {margin:0;padding:0;display:inline;list-style: none;font-weight:normal;}


/* typography */

h1{font-family:Georgia,"Times New Roman",serif;font-size: 2em;}
h2{font-size: 1.8em;color:#28CFCD;}
h3{font-size: 1.3em;}
h1,legend{color:#858585;}
a,h3{color:#D62006;}
a, a:hover {outline:none;-moz-outline-style:none;}
table, thead th, td {border:1px solid #ccc;}
thead th, td {border-top:0; border-left:0;}
table{border-bottom:0; border-right:0;}
thead th {background:#ddd;color:#fff;}
textarea{font-family:'andale mono', 'lucida console', monospace;font-size: 1.1em;}
p img.right, p img.left {margin-top:0.5em;}
iframe {margin-bottom:1.5em;}
.deleted{text-decoration:line-through;}

/*#gn-footer{background:url(../images/logo-full-small.png) 50% 50% no-repeat;height:100px;}*/

.gn-form-row {margin-bottom:0.5em;}
.gn-form-collapse legend{cursor:pointer;}

/* attachment panel */

.gn-core-upload p, .gn-core-upload ul {border:none!important;margin:0!important;padding:0!important;}
.gn-core-upload-panel {list-style:none;}
.gn-core-upload-panel li {margin-bottom:5px;border-width: 1px!important;}
.gn-core-upload-panel form {display:none;}
.gn-core-upload-item {height:42px;position:relative;background:#efefef;vertical-align:middle;border:1px solid #ddd;}
.gn-core-upload-item .gn-core-upload-thumb {background:#fff;border:1px solid rgb(190,190,190);position:absolute;left:5px;top:5px;width:30px;height:30px;}
.gn-core-upload-item .gn-core-upload-thumb div {position:absolute;left:2px;top:2px;width:26px;height:26px;overflow:hidden;text-align:center;}
.gn-core-upload-item .gn-core-upload-thumb img {margin:0 auto;}
.gn-core-upload-item .gn-core-upload-metadata {font-size:0.8em;position:absolute;left:40px;top:5px;height:32px;width:165px;line-height:16px;overflow:hidden;}
.gn-core-upload-item .gn-core-upload-metadata span {font-weight:normal;}
.gn-core-upload-item.other img {position:relative; top:5px;}
.gn-core-upload-item .delete, .gn-core-upload-item .insert {text-align:center;width:20px;height:19px;line-height:19px;position:absolute;right:0;z-index:1000;cursor:pointer;color:#333;background:rgb(170,170,170);}
.gn-core-upload-item .delete {top:0;}
.gn-core-upload-item .insert {bottom:0;background-color:rgb(170,170,170); background-image: url(../images/link.png); background-position: 50% 50%; background-repeat: no-repeat;}

/* profiles */

.gn-primary-image {float:right;margin:0 0 10px 10px;}
