rtComment:
  options:
    collate: utf8_unicode_ci
    charset: utf8
  actAs:
    Timestampable: ~
    rtSearchTemplate:
      fields:      [author_name, author_email, author_website, content, moderator_note]
  columns:
    is_active:         { type: boolean, default: false }
    model_id:          { type: integer }
    model:             { type: string(100) }
    user_id:           { type: integer }
    comment_id:        { type: integer }
    author_name:       { type: string(255) }
    author_email:      { type: string(255) }
    author_website:    { type: string(255), extra: link }
    content:           { type: string }
    moderator_note:    { type: string }
  relations:
    sfGuardUser:
      alias: User
      local: user_id
      type: one
      foreign: id
      foreignType: many
      foreignAlias: Comments
    Comment:
      class: rtComment
      local: comment_id
      foreign: id
      foreignAlias: Comments

rtCommentReport:
  actAs:
    Timestampable: ~
  columns:
    reason:          { type: clob }
    referer:         { type: string(255) }
    status:          { type: enum, values: ["valid","invalid","untreated"], default: untreated }
    comment_id:      { type: integer, notnull: true }
  relations:
    Comment:
      class: rtComment
      local: comment_id
      foreign: id
      onDelete: cascade