rtPage:

  actAs:
    Sluggable:
      fields:      [title]
      canUpdate:   false
    rtAttachableTemplate: ~
    rtSearchTemplate:
      fields:      [title, content, description, tags_as_string]
    Taggable:      {}
    Timestampable: {}
    Versionable:
      fields:      [title, content, description]
      auditLog:    true
#    SoftDelete:        {}

  columns:
    site_id:          integer
    title:            string(255)
    content:          string
    description:      string
    profile:          string(255)
    published:        { type: boolean, default: 1 }
    published_from:   timestamp
    published_to:     timestamp
#    deleted_at:       timestamp
    comment_status:   { type: enum, default: open, values: ["open", "users", "closed"] }
    comment_count:    { type: integer, default: 0 }
    searchable:       { type: boolean, default: 1 }

  relations:
    rtSite:
      local: site_id
      foreign: id
      onDelete: CASCADE
      
  options:
    collate:   utf8_unicode_ci
    charset:   utf8