rtSite:
  columns:
    title:           string(255)
    domain:         string(255)
    template_dir:       string(255)
    is_primary:     { type: boolean, default: 0 }
  indexes:
    is_primary:
      fields: [is_primary]
      sorting: DESC
