rtSnippet:

  actAs:
    rtAttachableTemplate: ~
    rtSearchTemplate:
      fields:      [title, content, collection]
    Timestampable: {}
    Versionable:
      fields:      [title, content]
      auditLog:    true

  columns:
    site_id:          integer
    title:            string(255)
    uri:              string(255)
    uri_target:       string(20)
    content:          string
    collection:       string(255)
    mode:             { type: enum, values: [standard, gallery, promote-primary-image], default: standard }
    position:         integer
    published:        { type: boolean, default: 1 }
    published_from:   timestamp
    published_to:     timestamp

  relations:
    rtSite:
      local: site_id
      foreign: id
      onDelete: CASCADE

  options:
    collate:   utf8_unicode_ci
    charset:   utf8